asttokens
backcall
Bottleneck
Brotli
certifi
charset-normalizer
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
generate-parameter-library-py==0.4.0
idna
image-geometry==3.2.1
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
mkl-service==2.4.0
mkl_fft
mkl_random
nest-asyncio
networkx==3.2.1
numexpr
numpy
packaging
pandas
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
PyQt6==6.7.1
PyQt6_sip
PySocks
python-dateutil
python-qt-binding==1.1.2
pytz
pyzmq
qt-dotgraph==2.2.3
qt-gui==2.2.3
qt-gui-cpp==2.2.3
qt-gui-py-common==2.2.3
requests
resource-retriever==3.1.2
scripts==3.7.0
sip
six
smclib==3.0.2
stack-data
threadpoolctl==3.6.0
tomli
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
zipp
scikit-fuzzy
scipy
matplotlib
scikit-image
scikit-learn
